
{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
{% endblock %}
{% block content %}
<div class="content">
  <style>
    body {
      background-color: rgb(0, 0, 0);
      background-image: url('static/imgs/equipment.jpg'); /*background image */
      background-size: 90% auto; /* Cover 90% horizontally and maintain aspect ratio vertically */
      background-position: center; /* Center the background */
      background-repeat: no-repeat;
      color: #bbbbbb; 
      font-family: 'Arial', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
  }
  </style>

  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Login</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>

  <div class="login-container">
    <h1>Login</h1>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div>
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
    <!-- navigation code -->
    <div class="Lregister-container">
      <p style="margin-bottom: 0;">Don't have an account?</p>
      <a href="{% url 'register' %}">Register</a>
    </div>
  </div>
</div>
{% endblock content %}

